h4,h1, footer{
  text-align: center;
  border: solid;
  border-radius: 10px;
  background-color: #4c6ca0;
  color: white;
}

.contact .container-contact{

  box-sizing: border-box;
  align-items: center;

}
.contact{
  margin: 50 50;
}
.container {
  width: 500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 20px;
  padding: 20px;
  align-items: center;
  margin: 20px auto;
}
.message{
  margin: auto;
}

/*list{
  color: red;
}*/

p em{
  color:black;
}
hr{
  border:5px;
}

a:hover{
  font-size: 40px;
  text-decoration: underline;
  cursor: pointer;

}
.Kathmandu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.Nepal{
  background-color: grey;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  width: 400px;
  box-shadow: 4px 4px 5px #888888
}
img{
  margin: 10px;
  transition: all 1s;
}
img:hover{
  transform: scale(1.1);

}
/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  }*/

.side-bar li{
  display: inline-block;
}
/*img[src]{
  border-radius: 50%;

  margin:0 0;
}*/





table{
  background-color: #009ACD;
  width: 100px;
  font-size: 20px;
  display: flex;

}
.table-head{
  display: flex;
}
body{
  background-color: #B0C4DE;
  font-family: 'Pacifico', cursive;

}
footer p text-center{
  backgraund-color: #ffe4e1;
}
.container-contact{
  border: solid;
  text-align: center;
  width:50vh;
}
.container{
  border: solid;
  display: flex;

  flex-wrap: wrap;
  align-items: stretch;
  height: 100vh;
  width: 100vh;
  justify-content: space-between;
}

.education-container{
  border: solid;
  display: flex;
  flex: 1;
  padding: 10px;
  flex-basis: 30%;

}
.job-container{
  border: solid;
  display: flex;
  padding: 10px;
  flex: 1;
  flex-basis: 30%;
}
.hobby-container{
  border: solid;
  display: flex;
  padding: 10px;
  flex: 1px;
  flex-basis: 30%;
}
@media (min-width: 900px){
  .education-container{
    display: flex;
    justify-content: space-between;
  }
}
